<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Application</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="heading-top">
        <h1>A Todo appliaction </h1>
    </div>
    <div class="staight-line"><hr></div>

<div class="description-container">
    <form action="">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" placeholder="what do you want to do">

    </form>
</div>


</body>
</html>